---
import SidebarLayout from '@layouts/SidebarLayout.astro';
import Inputcommand from '@components/dashboard/inputcommand.astro';
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<SidebarLayout title="Mi Aplicación" activeConfig="A">
	<div slot="logo">
		<h1 class="logo-text">Logo</h1>
	</div>
	<div class="content">
		<h1>Contenido Principal</h1>
    
  <action-buttons-lit id="myActions"></action-buttons-lit>
    <div class="console-layout">
      <div class="console">
        <game-console> </game-console>
      </div>
      <div class="input">
        <Inputcommand />
      </div>
    </div>
	</div>
</SidebarLayout>

<script>
  import  {ActionButtonsLit} from 'src/litcomponents/mc/barstatus.js';
  document.addEventListener('DOMContentLoaded', function() {
    const actionsElement = document.getElementById('myActions');
    if (!actionsElement) return;
    if (!(actionsElement instanceof ActionButtonsLit)) return;
  // Initial buttons
  actionsElement.addButton({
    id: 'start-server',
    label: '{{commons.start}}',
    icon: 'play_arrow',
    action: 'start-server'
});
actionsElement.addButton({
    id: 'stop-server',
    label: '{{commons.stop}}',
    icon: 'stop',
    action: 'stop-server'
});
actionsElement.addButton({
    id: 'restart-server',
    label: '{{commons.restart}}',
    icon: 'restart_alt',
    iconOnly: true,
    action: 'restart-server'
});
actionsElement.addButton({
    id: 'more-server-actions',
    label: '{{commons.more}}',
    icon: 'more_horiz',
    iconOnly: true,
    action: 'more-server-actions'   
});
actionsElement.hideButton('more-server-actions');
actionsElement.hideButton('kill-server');
actionsElement.hideButton('restart-server');
actionsElement.hideButton('stop-server');


  actionsElement.addEventListener('button-clicked', (event) => {
    if (!('detail' in event)) return;
    if (!(event instanceof CustomEvent)) return;
    console.log('Button clicked:', event.detail);
    if (event.detail.id === 'edit') {
      actionsElement.disableButton('edit');
      actionsElement.enableButton('save');
      actionsElement.showButton('cancel');
    }
    if (event.detail.id === 'save' || event.detail.id === 'cancel') {
      actionsElement.enableButton('edit');
      actionsElement.disableButton('save');
      actionsElement.hideButton('cancel');
    }
  });



  });
</script>
<style>
  .console-layout {
    margin-top: 16px;
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr max-content;
    grid-template-rows: 1fr max-content;
    grid-auto-columns: 1fr;
    gap: 0.7em 1.3em;
    grid-auto-flow: row;
    grid-template-areas:
    "console settings"
    "input settings";
}

.console-layout .console {
    grid-area: console;
    width: 100%;
    height: 100%;
    background: var(--bg-dark-accent);
    border-radius: 10px;
    padding: 12px;
    overflow-y: auto;
}

.console-layout .console * {
    font-family: 'Roboto Mono', monospace, sans-serif;
    font-size: 11pt;
}

.console-layout .input {
    grid-area: input;
    display: flex;
    align-items: center;
    justify-content: center;
}

.console-layout .input button {
    height: 48px;
}

.console-layout .input input {
    flex-grow: 1;
    margin-right: 8px;
    height: 48px;
}

.console-layout .settings {
    grid-area: settings;
}

.console-layout .settings .layout-accent-box:not(:first-child) {
    margin-top: 8px;
}

.console-layout .settings .layout-accent-box .lds-spinner {
    width: 100px;
    height: 100px;
}

.console-layout .settings .layout-accent-box .lds-spinner * {
    width: 64px;
    height: 64px;
}

.console-layout .settings .layout-accent-box .lds-spinner * {
    border-color: var(--bg-dark-accent-light) transparent transparent transparent;
}

.console-layout .settings .layout-accent-box .desc-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 6px;
}

.console-layout .settings .layout-accent-box .desc-text * {
    margin: 4px 0;
}
</style>