---
---
<script src="/src/litcomponents/mcinit.js"></script>
<div class="content-header">
        <action-buttons-lit id="FileActions"></action-buttons-lit>
    </div>
    <p id="current-path-display">Current Path: ./</p>
<file-explorer current-path="/" id="filemanager"></file-explorer>
<script>
    import { ActionButtonsLit } from "src/litcomponents/mc/barstatus.js";
    import { filemanagerapi } from "src/fetch/fetchapi";
    import { FileExplorer } from "src/litcomponents/mc/files.js";
    type ValidAction = 'start' | 'stop' | 'restart' | 'send' | 'log' | 'info' | 'players' | 'metrics' | 'kill';
    const filemanager = document.getElementById("filemanager") as FileExplorer | null;
    document.addEventListener("DOMContentLoaded", function () {
        const actionsElement = document.getElementById("FileActions");
        if (!actionsElement) return;
        if (!(actionsElement instanceof ActionButtonsLit)) return;
        initListener();
        // Initial buttons
        const buttonsConfig = [
            {
                id: 'new-file',
                label: '{{create}} {{file}}',
                icon: 'add_circle',
                action: 'new-file'
            },
            {
                id: 'upload-file',
                label: '{{uploadFile}}',
                icon: 'upload_file',
                action: 'upload-file',
                iconOnly: true
            },
            {
                id: 'new-folder',
                label: '{{create}} {{folder}}',
                icon: 'create_new_folder',
                action: 'new-folder',
                iconOnly: true
            },
            {
                id: 'refresh-folder',
                label: '{{refresh}}',
                icon: 'refresh',
                action: 'refresh-folder',
                iconOnly: true
            }
        ];
        buttonsConfig.forEach((button) => {
            actionsElement.addButton(button);
        });

        actionsElement.addEventListener("button-clicked", (event) => {
            if (!("detail" in event)) return;
            if (!(event instanceof CustomEvent)) return;    
            const isValidEvent = buttonsConfig.find(button => button.id === event.detail.id);
            console.log("isValidEvent", isValidEvent);
            if (isValidEvent) {
                switch (event.detail.id) {
                    case buttonsConfig[0].id:
                        break;
                    case buttonsConfig[1].id:
                        break;
                    case buttonsConfig[2].id:
                        break;
                    case buttonsConfig[3].id:
                        refreshFolder();
                        break;
                    default:
                        console.log("Button clicked:", event.detail, isValidEvent);
                        break;
                }
            }
        });
        const fileDoptions = [
            {
                id: 'download-file',
                label: '{{download}}',
                icon: 'download',
                action: 'download-file',
                iconOnly: true
            },
            {
                id: 'rename-file',
                label: '{{rename}}',
                icon: 'bookmark_manager',
                action: 'rename-file',
                iconOnly: true
            },
            {
                id: 'delete-file',
                label: '{{delete}}',
                icon: 'delete',
                action: 'delete-file',
                iconOnly: true
            }
        ];
        const directoryDoptions = ["rename-folder", "delete-folder"];
        const fileOptions = ["download-file", "rename-file", "delete-file"];
    });


    const SERVER_STATUSES_TRANSLATE: { [key: string]: string } = {
        STARTING: "Iniciando",
        STOPPING: "Deteniendo",
        RUNNING: "En ejecución",
        STOPPED: "Detenido",
        START: "Iniciar",
        STOP: "Detener",
        RESTART: "Reiniciar",
        MORE: "Más",
    };

        // Función de traducción
    function translate(status: string): string {
    // Devuelve la traducción si existe, o el estado original como fallback
        return SERVER_STATUSES_TRANSLATE[status] || status;
    }
    refreshFolder()
    async function fetchFiles(path:string) {
        const pathENCODED = encodeURIComponent(path);
        const result = await filemanagerapi.getFolderInfo(pathENCODED);
        console.log("result", result);
        if (result && result.data) {
            if (!filemanager) return;
            filemanager.data = result.data?.files;
            filemanager.currentPath = path;
        }
    }
    async function initListener(){
        const events = ["selected", "menu", "path-updated"];
        events.forEach(Evname => {
            if (!filemanager) return;
            (filemanager as FileExplorer).addEventListener(Evname, (e) => {
                console.log("event", Evname, e, typeof e);
            });
        });
    }
    async function refreshFolder() {
        console.log("refreshFolder");
        fetchFiles(window.selectedServer);
    }
</script>
<style>
     .content-header {
        width: 100%;
        height: max-content;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(240px, auto));
        gap: 1rem
    }
     .content-header .actions {
        justify-self: center;
        align-self: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>