---
import CPopup from "@components/solid/solid.tsx";
import PathNavigator from "@components/solid/PathNavigator.tsx";
import FileUploader from "@components/solid/FileUploader.tsx";
import CodeEditor from "./codeEditor.astro";
import { urlbase } from "src/config/url";
---

<script src="/src/litcomponents/mcinit.js"></script>
<div class="content-header">
    <action-buttons-lit id="FileActions"></action-buttons-lit>
</div>
<p id="current-path">Current Path: ./</p>
<PathNavigator client:only="solid-js" basePath={typeof window !== "undefined" ? window.selectedServer : ""} />
<file-explorer current-path="/" id="filemanager"></file-explorer>
<CPopup id="fileOptions" class="file-options"  client:only="solid-js"/>
<dialog-container id="file-Editor" required>
    <div class="modal__base">
      <c-input type="text" name="name" id="file-name" placeholder="Nombre del archivo" required style="--padding: 0; border: 0; background-color: var(--bg-dark-accent-light);"></c-input>
<!--       <c-input type="textarea" name="content" id="file-content" placeholder="Contenido del archivo"  required style="--padding: 0; border: 0; background-color: var(--bg-dark-accent);"></c-input>
 -->
      <CodeEditor 
        id="fileEditor" 
        initialContent="" 
        initialLanguage="json"
      />
      <div class="actions-bg flex center p-2">
            <button class="btn btn-primary" id="save-file">Guardar</button>
            <button class="btn btn-primary" id="cancel-file">Cancelar</button>
        </div>
    </div>
</dialog-container>
<dialog-container id="upload-files">
    <div class="modal__base p-10">
        <FileUploader client:only="solid-js" apiEndpoint={(urlbase + "/upload/files?pathType=servers")} multiple={true} />
    </div>
</dialog-container>
<dialog-container id="EditFilename">
    <div class="modal__base p-10 grid gap-10">	
        <span id="ModalTitle" class="text-center">Editar archivo</span>
        <input type="text" name="OriginalFilename" id="OriginalFilename" class="input" disabled></input>
        <input type="text" id="FilenameEditor" placeholder="Nombre del archivo" class="input" required></c-input>
        <div class="actions-bg flex center p-2">
            <button class="btn btn-primary" id="save-EditFilename">Guardar</button>
            <button class="btn btn-primary" id="cancel-EditFilename">Cancelar</button>
        </div>
    </div>
</dialog-container>
<dialog-container id="new-folder">
    <div class="modal__base">
        <span id="ModalTitle" class="center">Crear carpeta</span>
        <c-input class="NewFolder" placeholder="Nombre de la carpeta" required style="background-color: var(--bg-dark-accent-light);"
        id="NewFolder"
        pattern="[a-zA-Z0-9]*"
        ></c-input>
        <div class="actions-bg flex center p-2">
            <button class="btn btn-primary" id="create-folder">Crear</button>
            <button class="btn btn-primary" id="cancel-folder">Cancelar</button>
        </div>
    </div>
</dialog-container>
<script>
    import { ActionButtonsLit } from "src/litcomponents/mc/barstatus.js";
    import { filemanagerapi, serverapi } from "src/utils/fetch/fetchapi";
    import {
        FileExplorer,
        type ItemMenuEventDetail,
        type FileSystemItem,
    } from "src/litcomponents/mc/files.js";
    import { DialogContainer } from "src/litcomponents/custom-modal.js";
    import { CInput } from "src/litcomponents/CInput.js";
    import { optionsModal, setPopupOptions } from "src/utils/dropdown.js";
    import { pathSignal, signals,normalizePath } from "src/globalSignals";
    type ValidAction =
        | "start"
        | "stop"
        | "restart"
        | "send"
        | "log"
        | "info"
        | "players"
        | "metrics"
        | "kill";
    const filemanager = document.getElementById("filemanager") as FileExplorer;
    const newFile = document.getElementById("file-Editor") as DialogContainer;
    const uploadFiles = document.getElementById("upload-files") as DialogContainer;
    const newFolder = document.getElementById("new-folder") as DialogContainer;
    const EditFilename = document.getElementById("EditFilename") as DialogContainer;
    const FilenameEditor = document.getElementById("FilenameEditor") as HTMLInputElement;
    const OriginalFilename = document.getElementById("OriginalFilename") as HTMLInputElement;
    document.addEventListener("DOMContentLoaded", function () {
        const File_nameS = signals.create<string>("file-name", "");
        const actionsElement = document.getElementById("FileActions");
        if (!actionsElement) return;
        if (!(actionsElement instanceof ActionButtonsLit)) return;
        initListener();
        initCDlisteners();
        initMFilelisteners();
        initEFlisteners();
        // Initial buttons
        const buttonsConfig = [
            {
                id: "new-file",
                label: "{{create}} {{file}}",
                icon: "add_circle",
                action: "new-file",
            },
            {
                id: "upload-file",
                label: "{{uploadFile}}",
                icon: "upload_file",
                action: "upload-file",
                iconOnly: true,
            },
            {
                id: "new-folder",
                label: "{{create}} {{folder}}",
                icon: "create_new_folder",
                action: "new-folder",
                iconOnly: true,
            },
            {
                id: "refresh-folder",
                label: "{{refresh}}",
                icon: "refresh",
                action: "refresh-folder",
                iconOnly: true,
            },
        ];
        buttonsConfig.forEach((button) => {
            actionsElement.addButton(button);
        });

        actionsElement.addEventListener("button-clicked", (event) => {
            if (!("detail" in event)) return;
            if (!(event instanceof CustomEvent)) return;
            const isValidEvent = buttonsConfig.find(
                (button) => button.id === event.detail.id,
            );
            console.log("isValidEvent", isValidEvent);
            if (isValidEvent) {
                switch (event.detail.id) {
                    case buttonsConfig[0].id:
                        newFile.show();
                        break;
                    case buttonsConfig[1].id:
                        uploadFiles.show();
                        console.log("uploadFiles", uploadFiles);
                        break;
                    case buttonsConfig[2].id:
                        newFolder.show();
                        break;
                    case buttonsConfig[3].id:
                        refreshFolder();
                        break;
                    default:
                        console.log(
                            "Button clicked:",
                            event.detail,
                            isValidEvent,
                        );
                        break;
                }
            }
        });
    });
    refreshFolder();
    async function fetchFiles(path: string,element = filemanager) {
        if (path === "/") return;
        const pathENCODED = encodeURIComponent(path);
        const result = await filemanagerapi.getFolderInfo(pathENCODED);
        console.log("result", result);
        if (result && result.data) {
            if (!element) return;
            element.data = result.data?.files;
            element.currentPath = path;
        }
    }
    async function readFile(path: string) {
        const pathENCODED = encodeURIComponent(path);
        const result = await filemanagerapi.readFileByPath(pathENCODED);
        console.log("result", result);
        if (result) {
            return result.data;
        }
        return false;
    }
    async function initListener() {
        const events = ["selected", "menu", "updated"];
        events.forEach((Evname) => {
            if (!filemanager) return;
            (filemanager as FileExplorer).addEventListener(Evname,async (e) => {
                if (!("detail" in e)) return;
                console.log("event", Evname,"e", typeof e, e.detail);
                const { data, event } = e.detail as ItemMenuEventDetail;
                if (Evname === "selected") {
                    if (data.type !== "directory") {
                        //const editorContent = signals.set("fileEditor-content", "text=false");
                        //const editorLang = signals.set("fileEditor-lang", "plaintext");
                        const fileData = await readFile(window.selectedServer + "/" + data.path);
                        if (typeof fileData !== "string") return;
                        console.log("fileData", fileData, typeof fileData);
                        newFile.show();
                        signals.set("fileEditor-content", fileData);
                        signals.set("file-name", data.path);
                        const fileNameInput = document.getElementById("file-name") as HTMLInputElement;
                        fileNameInput.value = data.path;
                        //console.log("fileData", fileData,editorContent);
                        return;
                    }
                    pathSignal.value = window.selectedServer + "/" + data.path;
                    //    fetchFiles(window.selectedServer + "/" + data.path);
                } else if (Evname === "menu") {
                    const popupOptions = getOptions(data);
                    console.log("menu", data, event);
                    const filepopup = document.getElementById("fileOptions");
                    setPopupOptions(filepopup, popupOptions, event);
                } else if (Evname === "updated") {
                    pathSignal.value = data;
                }
            });
            signals.subscribe<string>(
                "path",
                (value: string, oldValue: string) => {
                    console.log("pathSignal", value, oldValue);
                    const normalizedValue = normalizePath(value);
                    const normalizedOldValue = normalizePath(oldValue);
                    if (value !== normalizedValue) {
                        console.log("Normalizing path:", value, "->", normalizedValue);
                        pathSignal.value = normalizedValue;
                    }
                    
                    if (normalizedValue !== normalizedOldValue) {
                        fetchFiles(normalizedValue);
                    }
                },
            );
        });
    }
    async function refreshFolder(path: string = (pathSignal?.value || window.selectedServer)) {
        console.log("refreshFolder", path);
        fetchFiles(path);
    }
    function getOptions(data: FileSystemItem) {
        // Definir opciones individuales
        const downloadOption = {
            html: optionsModal({
                id: "download-file",
                icon: "download",
                text: "Download File",
            }),
            callback: function () {
            // fetch GET file
                console.log("Option 1 clicked",data);
            },
        };

        const renameOption = {
            html: optionsModal({
                id: "rename-file",
                icon: "bookmark_manager",
                text: "Rename File",
            }),
            callback: function () {
                EditFilename.show();
                FilenameEditor.value = data.name;
                OriginalFilename.value = data.path;
                console.log("Option 2 clicked",FilenameEditor?.value, OriginalFilename?.value);
            },
        };

        const deleteOption = {
            html: optionsModal({
                id: "delete-file",
                icon: "delete",
                text: "Delete File",
            }),
            callback: async function () {
                if (data && data.path) {
                    console.log("Option 3 clicked", data);
                    // fetch DELETE file
                    const result = await filemanagerapi.deleteFile(window.selectedServer, data.path);
                    if (!result) return;
                    console.log("result", result);
                    refreshFolder();
                }
            },
        };

        // Determinar qué opciones incluir basándose en data.isDirectory u otras condiciones
        const options = [];

        if (!data.isDirectory) {
            options.push(downloadOption);
        }

        // Estas opciones están disponibles para ambos tipos
        options.push(renameOption);
        options.push(deleteOption);

        return options;
    }
    async function initMFilelisteners() {
        const MF_actions = ["save-file", "cancel-file"];
        const MF_elements: Record<string, HTMLButtonElement> = {};
        MF_actions.forEach((action:string) => {
            const element = document.getElementById(action) as HTMLButtonElement;
            if (element) {
                MF_elements[action] = element;
                element.addEventListener("click", async (e) => {
                    console.log("MF_action", action);
                    const InputFile = document.getElementById("file-name") as HTMLInputElement;
                    if (action === "save-file") {
                        const fileData = signals.get("fileEditor-content")?.value;
                        if (!fileData) return;
                        console.log("fileData", fileData, InputFile.value);
                        const result = await filemanagerapi.writeFile({
                            directoryname: pathSignal?.value || window.selectedServer,
                            filename: InputFile?.value || signals.get("file-name")?.value,
                            content: fileData,
                        });
                        console.log("result", result);
                        if (!result && result.data) return;
                        newFile.hide();
                        signals.set("file-name", "");
                        signals.set("fileEditor-content", "");
                        InputFile.value = "";
                        refreshFolder();
                    }
                    if (action === "cancel-file") {
                        newFile.hide();
                        signals.set("file-name", "");
                        signals.set("fileEditor-content", "");
                        InputFile.value = "";
                    }
                });
            }
        });
        console.log("MF_elements", MF_elements);
    }
    async function initCDlisteners(){
        const CD_actions = ["create-folder", "cancel-folder"];
        const CD_elements: Record<string, HTMLButtonElement> = {};
        CD_actions.forEach((action:string) => {
            const element = document.getElementById(action) as HTMLButtonElement;
            if (element) {
                CD_elements[action] = element;
                element.addEventListener("click", async (e) => {
                    console.log("CD_action", action);
                    const InputFolder = document.getElementById("NewFolder") as HTMLInputElement;
                    if (action === "create-folder") {
                        console.log("InputFolder", InputFolder.value);
                        if (!InputFolder) return;
                        const result = await filemanagerapi.createFolder(pathSignal?.value + "/" + InputFolder.value);
                        if (!result) return;
                        console.log("result", result);
                        if (result.success || result.data) refreshFolder();
                        newFolder.hide();
                    }
                    if (action === "cancel-folder") {
                        newFolder.hide();

                    }
                });
            }
        });
    }
    async function initEFlisteners(){
        const EF_actions = ["save-EditFilename", "cancel-EditFilename"];
        const EF_elements: Record<string, HTMLButtonElement> = {};
        EF_actions.forEach((action:string) => {
            const element = document.getElementById(action) as HTMLButtonElement;
            if (element) {
                EF_elements[action] = element;
                element.addEventListener("click", async (e) => {
                    console.log("EF_action", action,FilenameEditor?.value, OriginalFilename?.value);
                    if (action === "save-EditFilename") {
                        const result = await filemanagerapi.renameFile(window.selectedServer, OriginalFilename?.value, FilenameEditor?.value);
                        if (!result) return;
                        console.log("result", result);
                        EditFilename.hide();
                        FilenameEditor.value = "";
                        OriginalFilename.value = "";
                        if (result.success || result.data) refreshFolder();
                    }
                    if (action === "cancel-EditFilename") {
                        EditFilename.hide();
                        FilenameEditor.value = "";
                        OriginalFilename.value = "";
                    }
                });
            }
        });
    }
</script>
<style>
    .content-header {
        width: 100%;
        height: max-content;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(240px, auto));
        gap: 1rem;
    }
    .content-header .actions {
        justify-self: center;
        align-self: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .actions-bg {
        background-color: var(--bg-dark-accent-lighter);
        gap: 8px;
    }
    input, textarea, select {
      padding: 0.5rem;
      border: var(--border-color);
      border-radius: 4px;
      font-size: 14px;
      background-color: var(--bg-dark-accent-light);
      color: inherit;
      box-sizing: border-box;
      margin: 0;
    }
    input:disabled, textarea:disabled, select:disabled {
      background-color: var(--secondary-bg);
      cursor: not-allowed;
      color: var(--disabled-color);
      border: 1px solid var(--disabled-color);
    }
    
    input:read-only, textarea:read-only {
      background-color: var(--secondary-bg);
      cursor: no-drop;
      color: var(--disabled-color);
    }
</style>
